
body {
  background: #ffffff;
  font-family: 'Plain', sans-serif;
}



h1,h2,h3,h4,h5,h6 {
  line-height: normal;
}

h1 {
  font-size: 48px;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 20px 0;
}

h2 {
  font-size:36px;
  letter-spacing: -2px;
}

h3 {
  font-size: 28px;
  letter-spacing: -1px;
  margin: 0;
}

h4 {
  font-size: 24px;
  color: white;
}

h5 {
  color: #909090;
  font-size: 22px;
  line-height: inherit;
  margin: 0;
}

p {
  color: #666262;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5em;
}

b, 
strong {
  font-weight: bold;
  letter-spacing: 0;
}


/*---------------------------------------*/

.schedule {
    background: #171819;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #section4 {
    height: 150vh;
  }
  .schedule-table {
    display: table;
    border: 0;
    text-align: center;
    border-bottom: 0;
    text-transform: uppercase;
  }
  
  .schedule-table strong {
    display: block;
    text-align: center;
    color: white;
    font-family:verdana;
  }
  
  .schedule-table span {
    display: block;
    text-align: center;
    color: gray;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .schedule-table small {
  font-size: 20px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
  }
  
  .table .thead-light th,
  .schedule-table tr td:first-child {
    background: rgb(250, 147, 43);
    border: 1px solid #212122;
    color: white;
  }
  
  .thead-light th {
    border-bottom: 0;
    text-transform: uppercase;
  }
  
  .table-bordered td, 
  .table-bordered th {
    border: 1px solid #212122;
  }
  
  .table-bordered td {
    padding-bottom: 22px;
  }
  
  .table td, .table th {
    padding: 1rem;
  }

  .footer {
    height: 50vh;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .left {
    width: 50%;
    height: 100%;
  }
  #footer-logo {
    margin-left: 15vh;
    margin-top: 5vh;
  }
  .links {
    display: flex;
    margin-top: -30px;
    margin-left: 25vh;
  }
  #hayg {
    width: 35px;
    margin: 20px;
  }
  .right {
    width: 70%;
    display: flex;
    align-items: center;
  }
  #map {
    width: auto;
  }
  #info  {
    margin-left: 10vh;
    font-size: 16px;
    height: auto;
    width: 40%;
  }
  @media only screen and (max-width: 800px) {
    #map {
      height: 20vh;
    }
    #hayg {
      width: 20px;
    }
    .footer {
      flex-direction: column;
      height: auto;
    }
    #map {
      margin-top: 30px;
      width: 50%;
    }
    .right {
      flex-direction: column;
    }
    #info {
      margin: 30px;
      width: 100%;
      font-size: 15px;
    }

  }
/*--------------------------------------*/

.about {
  background: #f9f9f9;
}

.about-working-hours {
  border-left: 2px solid;
  padding-left: 3.5rem;
}

.about-working-hours strong {
  color: white;
  opacity: 0.85;
}

.team-thumb {
  position: relative;
}

.team-info {
  background: white-color;
  border-radius: 0 0 2px 2px;
  box-shadow: 6px 0 38px rgba(20,20,20,0.10);
  padding: 20px;
  position: relative;
}

.team-info span {
  font-weight: 100;
  opacity: 0.85;
}

.team-info .social-icon {
  position: absolute;
  top: 10px;
  right: 20px;
}

.team-info .social-icon li {
  display: block;
}
.aboutus {
  margin-top:3rem!important;
  margin-bottom:0!important;
  margin-bottom:1.5rem!important;
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto!important;
  margin-left:auto!important;
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
}
.image {
  max-width:100%;
  height:auto;
}
.intro {
  margin-left:auto!important;
   position:relative;
   width:100%;
   padding-right:15px;
   padding-left:15px;
    -ms-flex:0 0 50%;
    flex:0 0 50%
    ;max-width:50% 
}

.intro2 {
  margin-right:auto!important;
  margin-top:3rem!important ;
  margin-top:0!important ;
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
   -ms-flex:0 0 50%;
   flex:0 0 50%;
   max-width:50%}
.words{
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
   text-align:center!important;
}
.col{
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
  padding-top:3rem!important;
  padding-bottom:3rem!important; 
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
}