* {
    margin: 0;
    padding: 0;
    font-family: arial;
}
section {
    width: 100%;
    height: 100vh;
    background-image: url("login-bg.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
section > * {
    position: relative;
    z-index: 2;
}
section:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.container {
    width: 60vh;
    height: 70vh;
}
.user {
    width: 300px;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    align-items: baseline;
}
#user-img {
    width: 30px;
    height: auto;
    margin-top: 15px;
    margin-right: 20px;
}
#welcomeback {
    font-size: 30px;
    color: #CACACA;
    margin-top: 50px;
    display: flex;
    margin-left: 14vh;
}
#username {
    font-size: 18px;
    border: none;
    padding: 5px 20px 5px 4px;
    color: white;
    background: none;
    margin: auto;
    border-bottom: 1px solid rgb(250, 147, 43);
}
.pass {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    width: 300px;
    align-items: baseline;
}
#password {
    font-size: 18px;
    border: none;
    padding: 5px 20px 5px 4px;
    color: white;
    background: none;
    margin: auto;
    border-bottom: 1px solid rgb(250, 147, 43);
}
#pass-img {
    width: 20px;
    height: auto;
    margin-left: 5px;
    margin-right: 20px;
}
.button {
    transform: translate(260%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid rgb(250, 147, 43);
    border-radius: 50%;
    transition: all ease 0.4s;
}
.button:hover {
    transform: translate(260%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: rgb(250, 147, 43);
    border: 1px solid rgb(250, 147, 43);
    border-radius: 50%;
}
.arrow {
    border: 1px solid #CACACA;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(-45deg);
}