* {
    font-family: arial;
    padding: 0;
    margin: 0;
}
html { scroll-behavior: smooth; }

section {
    width: 100%;
    height: 100vh;
    background-color: black;
}
.home-page {
    width: 100%;
    height: 100vh;
    background-image: url("background.png");
    background-repeat: no-repeat;
}
.home-page> * {
    position: relative;
    z-index: 2;
}
.home-page:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}
.nav-bar {
    z-index: 9999;
    position: fixed;
    height: 12vh;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    color: white;
    display: flex;
}
ul li {
    padding: 12px 25px;
    list-style-type: none;
}
#button-home::after {
    margin: auto;
    display: block;
    content: " ";
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background: rgb(250, 147, 43);
}
#button::after {
    margin: auto;
    display: block;
    content: " ";
    width: 0px;
    height: 2px;
    margin-top: 4px;
    background: rgb(250, 147, 43);
    transition: all ease 0.4s;
}
#button:hover::after {
    margin: auto;
    display: block;
    content: " ";
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background: rgb(250, 147, 43);
}
#logo {
    width: 35vh;
    height: 19vh;
}
@media only screen and (max-width: 800px) {
    .nav-bar ul {
        display: none;
    }
    #logo {
        margin: auto;
    }
    .nav-bar {
        height: auto;
    }
}
ul a {
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.login {
    border: 2px solid rgb(250, 147, 43);
    padding: 12px 35px;
    margin-right: 50px; 
    margin-left: 20px;
    transition: all ease 0.4s;
}
.login:hover {
    background: rgb(250, 147, 43);
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#mini-txt {
    margin: 20px;
    font-size: 18px;
    color: #CACACA
}
.big-txt {
    margin: 20px;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    color: white;
}
.big-txt h1 {
    display: flex;
    justify-content: center;
}
.learnmore {
    margin: 20px;
    color: rgb(250, 147, 43);;
    padding: 20px 35px;
    background: none;
    border: 1px solid rgb(250, 147, 43);
    transition: all ease 0.4s;
}
.learnmore:hover {
    margin: 20px;
    color: white;
    padding: 20px 35px;
    background:  rgb(250, 147, 43);;
    border: 1px solid rgb(250, 147, 43);
}
@media only screen and (max-width: 800px) {
    #mini-txt {
        font-size: 17px;
    }
    .big-txt h1{
        font-size: 30px;
    }
    .learnmore {
        padding: 15px 25px;
        font-size: 10px;
    }
    .learnmore:hover {
        padding: 15px 25px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 400px) {
    #mini-txt {
        font-size: 15px;
    }
    .big-txt h1{
        font-size: 22px;
    }
    .learnmore {
        padding: 15px 25px;
        font-size: 10px;
    }
    .learnmore:hover {
        padding: 15px 25px;
        font-size: 10px;
    }
}
.intro-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-txt h2{
    margin-top: 50px;
    color: white;
    font-size: 28px;
    font-family: arial;
    font-weight: bold;
}
.intro-txt p{
    width: 80%;
    color: rgb(148, 148, 148);
    font-size: 18px;
    font-family: arial;
    font-weight: normal;
}
#section2 {
    height: 120vh;
}

.teacher-pic1, .teacher-pic2 {
    height: 350px;
    transition: all ease 0.4s;
}

.teachers {
    display: flex;  
    margin-top: 50px;
    justify-content: space-around;
}
.teacher1-links, .teacher2-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background-color: rgb(177, 177, 177);
}
#section3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#rank {
    height: 100vh;
}